<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="PrivateSettings.config">
    <!--
    Replace the following settings with proper value and remove the comment, this line and the above file property
    <add key="QBitNinjaBaseUrl" value="The url to qbit ninja this maybe http://api.qbit.ninja/"/>
    <add key="RPCUsername" value="The rpc username for the bitcoind"/>
    <add key="RPCPassword" value="The rpc password for the bitcoind"/>
    <add key="RPCServerIpAddress" value="The ip for the bitcoind node"/>
    <add key="Network" value="The network, this could typically be Main/>
    -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>