<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  <appSettings>
    <add key="RegtestRPCUsername" value="bitcoinrpc" />
    <add key="RegtestRPCPassword" value="Hasht" />
    <add key="RegtestRPCIP" value="127.0.0.1" />
    <add key="RegtestPort" value="18332" />
    <add key="Network" value="TestNet"/>
  </appSettings>
  -->
  <appSettings file="..\..\..\..\..\..\Lykkex\configs\NonBitcoinTests.config" />
</configuration>